/**** HEADER ****/
.title-special {
    color: red;
}

body {
    background-color: #f5f5f5;
}

/**** FOOTER ****/
footer{
    margin-top: 10px;
    font-size: .6em;
    text-align: center;
}


/**** Nav Bar styling ****/
#sidebar{
    padding-right: 0px;
}

.nav-sidebar { 
    width: 100%; 
    background-color: #f5f5f5;
}

.nav-sidebar a {
    color: #333333;
    text-decoration: none;
    transition: all 0.09s linear;
    border-radius: 3px 0 0 3px; 
}

.nav-sidebar .active a { 
    cursor: default;
    background-color: #428bca; 
    color: #fff; 
    text-shadow: 1px 1px 1px #666666; 
}
.nav-sidebar .active a:hover {
    background-color: #428bca;   
}

.secure{
    background-color: #46e678;
}

a#secure.secure:hover{
    background-color: #3ff778;
}
.insecure{
    background-color: #f85959;
}
a#secure.insecure:hover{
    background-color: #ef8383;
}

/**** NavBar Toggling on small devices ****/

@media screen and (max-width: 768px) {
    /* reference: https://v4-alpha.getbootstrap.com/examples/offcanvas/ */
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out; /* Safari */
        -moz-transition: all 0.25s ease-out; /* Firefox */
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -33%;
    }

    .row-offcanvas-left.active {
        left: 33%;
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 33%;
        margin-left: 10px;
    }
}

/**** Main ****/
.main {
    padding: 20px;
    padding-bottom: 150px;
    background-color: #fff;
}
/* Only pad with sidebar (not mobile) */
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


/**** Form Controls ****/
.form-container{
    border: 5px solid #f7f7f9;
    padding: 0rem 1.5rem 1.5rem 1.5rem;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
}
.form-container textarea{
    resize: vertical;
}

.error-box {
    margin-top: 20px;
    display: none;
}


