/**** HEADER ****/
.title-special {
    color: red;
}

/**** FOOTER ****/
footer{
    margin-top: 150px;
    font-size: .6em;
    text-align: center;
}

/**** Nav Bar Layout and Positioning ****/
#wrapper {
    padding-left: 250px;
    overflow-x: hidden;   
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  position: fixed;
  overflow-x: hidden;
}

/**** Nav Bar styling ****/
.nav-sidebar { 
    width: 100%;
    padding: 8px 0; 
    border-right: 1px solid #ddd;
}

.nav-sidebar a {
    color: #333333;
    text-decoration: none;
    transition: all 0.09s linear;
    border-radius: 3px 0 0 3px; 
}

.nav-sidebar .active a { 
    cursor: default;
    background-color: #428bca; 
    color: #fff; 
    text-shadow: 1px 1px 1px #666666; 
}
.nav-sidebar .active a:hover {
    background-color: #428bca;   
}

.nav-sidebar li {
    list-style: none;
}

#secure{
    background-color: #56f888;
}

/**** Form Controls ****/
.form-container{
    border: 5px solid #f7f7f9;
    padding: 0rem 1.5rem 1.5rem 1.5rem;
    width: 80%;
}
